.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: auto;
  top: 0;
  background-color: #131921;
  position: sticky;
  z-index: 100;
  object-fit: contain;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 4px;
}

.header__searchInput {
  border-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 32px !important;
  width: 100%;
  padding: 4px;
}

.header__micIcon {
  background-color: #cd9042;
  height: 32px !important;
  cursor: pointer;
  padding: 4px;
}

.header__searchIcon {
  background-color: #cd9042;
  height: 32px !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 0.2px solid #131921;
  cursor: pointer;
  padding: 4px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 8px;
  align-items: center;
  cursor: pointer;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 8px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 12px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  margin-right: 12px;
  margin-left: 4px;
}

.header__optionBasketIcon {
  color: white;
}

.header__basketCount {
  color: white;
  margin-left: 6px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
